#home_button1, #home_button2, #home_button3 {
    height: 80px;
    background-color: #1e2d47;
    border: #1e2d47;
}

#home_button1:hover, #home_button2:hover, #home_button3:hover, .submit-btn:hover {
    background-color: #182434;
}

.submit-btn {
    background-color: #1e2d47;
    border: #1e2d47;
}

.add-btn {
    background-color: #1e2d47;
}

.add-btn:hover {
    background-color: #182434;
}

#button1, #button2, #button3, #button4, #button5, #dropdownMenuButton {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

/* to rotate the layers vertically */
.table-header-rotated td{
  width: auto;
  min-width: 80px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: left;
  word-wrap: break-word;
  whitespace: normal;
}

.table-header-rotated th.rotate-90 {
  height: 200px;
  width: auto;
  min-width: 20px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1;
  overflow: hidden;
  white-space: normal;
  word-wrap: normal;
}

/* Rotated text for layer name */
.table-header-rotated th.rotate-90 div.rotate-90 {
    position: relative;
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center center;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
    word-break: break-word;
}

div.rotate-90 {
    position: relative;
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center center;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
    word-break: break-word;
}


/* Responsive table wrappers */
.table-responsive {
    overflow-x:auto;
}

/* Change department name text color to red */
#department_name {
    color: red;
    border: 2px solid red;
    vertical-align: middle;
}

#layers-header {
    border-left: 2px solid black;
}

/* Adjust table border size & colors */
table.table-bordered {
  border: 2px solid black; /* Adjust border size and color */
}

.table.table-bordered th,
.table.table-bordered td,
#empty_row_1 {
  border: 2px solid black;
}

.table.table-bordered td,
.table.table-bordered th {
    border: 1px solid black;
}

#row_2 {
    border-bottom: 2px solid black;
}

/* Adjust search bar's icon color */
#search_button {
    background-color: #1e2d47;
    border: #1e2d47;
}

/* Change the color of the dropdown checkbox */
.form-check-input:checked {
    background-color: #1e2d47;
    border-color: #1e2d47;
}

.dropdown-checkboxes input[type="checkbox"]:checked {
    background-color: #1e2d47;
    border-color: #1e2d47;
}

