#home_button1, #home_button2, #home_button3 {
    height: 80px;
    background-color: #1e2d47;
    border: #1e2d47;
}

#home_button1:hover, #home_button2:hover, #home_button3:hover, .submit-btn:hover {
    background-color: #182434;
}

.submit-btn {
    background-color: #1e2d47;
    border: #1e2d47;
}

.add-btn {
    background-color: #1e2d47;
}

.add-btn:hover {
    background-color: #182434;
}

#button1, #button2, #button3, #button4, #button5,
#button6, #button7, #button8, #button9, #button10,
#button11, #button12, #button13, #button14,
#dropdownMenuButton {
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

/* to rotate the layers vertically */
.table-header-rotated td{
  width: auto;
  min-width: 80px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: left;
  word-wrap: break-word;
  whitespace: normal;
}

/* Ensure table header cell dimensions */
.table-header-rotated th.rotate-90 {
  position: relative;
  width: 30px; /* Adjust this to control the width of the header cells */
  height: 150px; /* Adjust this to control the height of the rotated header */
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  line-height: 1;
  border: 1px solid #dddddd;
  padding: 5px;
}


/* Rotated text for layer name */
.table-header-rotated th.rotate-90 div.rotate-90 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transform-origin: center center;
  max-width: 150px; /* Limit the width of the text container */
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.2; /* Adjust line height for better spacing */
  padding: 2px; /* Add some padding to prevent clipping */
  font-size: 14px;
}

/* Responsive table wrappers */
.table-responsive {
    overflow-x:auto;
}

/* Change department name text color to red */
#department_name {
    border: 2px solid black;
    vertical-align: middle;
}

#layers-header {
    border-left: 2px solid black;
}

/* Adjust table borders' size & colors */
table.table-bordered {
  border: 2px solid black; /* Adjust border size and color */
}

.table.table-bordered th,
.table.table-bordered td,
#empty_row_1 {
  border: 2px solid black;
}

.table.table-bordered td,
.table.table-bordered th {
    border: 1px solid black;
}

#row_2 {
    border-bottom: 2px solid black;
}

#right-border-1, #right-border-2 {
    border-right: 2px solid black;
}

/* Add borders for leftmost/rightmost layers under each department */
.leftmost-border {
    border-left: 2px solid black !important;
}

.rightmost-border {
    border-right: 2px solid black !important;
}

/* Adjust search bar's icon color */
#search_button {
    background-color: #1e2d47;
    border: #1e2d47;
}

/* Change the color of the dropdown checkbox */
.form-check-input:checked {
    background-color: #1e2d47;
    border-color: #1e2d47;
}

.dropdown-checkboxes input[type="checkbox"]:checked {
    background-color: #1e2d47;
    border-color: #1e2d47;
}
