{% extends 'base.html' %}

{% block title %} Add Layer {% endblock %}

{% block content %}

<br><br><br>
<!-- Heading -->
<div class="container text-left">
    <div class="row">
        <div class="col-6"><h2>Add a layer</h2></div>
    </div>
</div>
<br><br>

<!-- Add Layer Form -->
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        {{ form.hidden_tag() }}

        <!-- Name Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.name.label }} {{ form.name(class="form-control form-control-md", autocomplete="off") }}
            </div>
        </div>
        <br>

        <!-- Department Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.department.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                            class="btn btn-secondary dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                            type="button"
                            id="button1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Select department to add layer to
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100" id="department-dropdown-menu">
                        {% for subfield in form.department %}
                        <div class="form-check">
                            <!-- Render Checkbox -->
                            {{ subfield(**{'class': 'form-check-input', 'data-department-name': subfield.label.text}) }}

                            <!-- Checkbox Label -->
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Group Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.groups.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                            class="btn dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                            type="button"
                            id="button2"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Select group to add layer to
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100" id="group-dropdown-menu">
                        {% for subfield in form.groups %}
                        <div class="form-check">
                            <!-- Render Checkbox -->
                            {{ subfield(**{'class': 'form-check-input'}) }}
                            <!-- Checkbox Label -->
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Submit Button -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.submit(class="btn btn-primary submit-btn", value="Submit", style="float: right;",
                id="submit_button") }}
            </div>
        </div>
    </form>
</div>

<!-- Update UI after selection -->
<script>
    // live update for selection of layer's department(s)
    const department_dropdownButton = document.getElementById('button1');
    const department_dropdownMenu = document.getElementById('department-dropdown-menu');

    let department_mySelectedItems = [];

    function handleCB1(event) {
        const department_checkbox = event.target;
        if (department_checkbox.checked) {
            department_mySelectedItems.push(department_checkbox.value);
        } else {
            department_mySelectedItems =
              department_mySelectedItems.filter((item) => item !== department_checkbox.value);
        }

        department_dropdownButton.innerHTML = department_mySelectedItems.length > 0
            ? department_mySelectedItems.join('<br>') : 'Select department to add layer to';
    }

    department_dropdownMenu.addEventListener('change', handleCB1);

    // live update for selection of layer's group(s)
    const group_dropdownButton = document.getElementById('button2');
    const group_dropdownMenu = document.getElementById('group-dropdown-menu');

    let group_mySelectedItems = [];

    function handleCB2(event) {
        const group_checkbox = event.target;
        if (group_checkbox.checked) {
            group_mySelectedItems.push(group_checkbox.value);
        } else {
            group_mySelectedItems =
              group_mySelectedItems.filter((item) => item !== group_checkbox.value);
        }

        group_dropdownButton.innerHTML = group_mySelectedItems.length > 0
            ? group_mySelectedItems.join('<br>') : 'Select group to add layer to';
    }

    group_dropdownMenu.addEventListener('change', handleCB2);
</script>

{% endblock %}