{% extends 'base.html' %}

{% block title %} All Users {% endblock %}

{% block content %}

<br><br>
<!-- Search Bar -->
<div class="container-fluid px-4">
    <div class="row mt-4 justify-content-end">
        <div class="col-md-9"></div>
        <div class="col">
            <form id="search-form" action="/users" method="GET" class="d-flex align-items-center">
                <div class="input-group">
                    <input type="text" id="search-input" name="query" value="{{ query or '' }}"
                           placeholder="Search user" class="form-control" autocomplete="off" />
                    <button type="submit" class="btn btn-primary" id="search_button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<br>
<!-- User Table -->
<div class="container-fluid px-4">
    <div class="row me-auto mb-2 mb-lg-0">
        <h1>All Users</h1>
        <p>No. of users: {{ count_users }}</p>
    </div>
    <div class="row mt-4>">
        <div class="col">
            <div class="table-responsive" style="overflow-x: auto;">
                <table class="table table-bordered table-header-rotated" id="users-table">
                    <thead>
                    <tr id="row_2">
                        <th>
                            Username
                        </th>
                        <th>Name</th>
                        <th>Access</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <!-- Username -->
                        <td>{{ user.username }}</td>
                        <!-- Name -->
                        <td>
                            {{ user.fullName }}
                        </td>
                        <!-- Access Level -->
                        <td>
                            {{ user.access }}
                        </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}