{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-grid gap-2 col-lg-2 mx-auto">
        <a href="/add_layer" class="btn btn-primary btn-lg d-flex justify-content-center align-items-center" type="button" id="home_button1">Add Layer</a>
        <a href="/add_user" class="btn btn-primary btn-lg d-flex justify-content-center align-items-center" type="button" id="home_button2">Add User</a>
        <a href="/update_user" class="btn btn-primary btn-lg d-flex justify-content-center align-items-center" type="button" id="home_button3">Update User's Access</a>
    </div>
</div>

{% endblock %}