{% extends 'base.html' %}

{% block title %} All Layers {% endblock %}

{% block content %}

<br><br><br>

<!-- Department Filter Select -->
<div class="container-fluid px-4">
    <div class="row mt-4 justify-content-end">
        <form method="GET" action="{{ url_for('all_layers') }}" class="mb-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by Departments
                </button>
                <ul class="dropdown-menu dropdown-checkboxes" aria-labelledby="dropdownMenuButton">
                    <!-- "All Departments" Checkbox -->
                    <li>
                        <label class="dropdown-item">
                            <input type="checkbox" name="department" value="all"
                                   {% if 'all' in selected_departments %}checked{% endif %}> All Departments
                        </label>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <!-- Department Checkboxes -->
                    {% for department in departments %}
                    <li>
                        <label class="dropdown-item">
                            <input type="checkbox" name="department" value="{{ department }}"
                                   {% if department in selected_departments %}checked{% endif %}> {{ department }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Submit Button -->
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>
</div>

<!-- Layer Information Table -->
<div class="container-fluid px-4">
    <div class="row me-auto mb-2 mb-lg-0">
        <h1>All Layers</h1>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered" id="layers-table">
                <thead>
                <tr>
                    <th>Edit Layer</th>
                    <th>
                        Name
                    </th>
                    <th>Department</th>
                    <th>Group</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr>
                    <!-- Edit Layer -->
                    <td>
                        <a href="/update_layer/{{ row[0] }}"><i class="fa-regular fa-pen-to-square" style="color: #03ac13"></i></a>
                    </td>
                    <!-- Name -->
                    <td>{{ row[1] }}</td>
                    <!-- Department -->
                    <td>
                        {% for dept in row[2].split(', ') %}
                        {{ dept }} <br>
                        {% endfor %}
                    </td>
                    <!-- Group -->
                    <td>
                        {% for grp in row[3].split(', ') %}
                        &bull; {{ grp }} <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}