{% extends 'base.html' %}

{% block title %} All Layers {% endblock %}

{% block content %}

<br><br><br>

<!-- Layer Information Table -->
<div class="container-fluid px-4">
    <div class="row me-auto mb-2 mb-lg-0">
        <h1>All Layers</h1>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered" id="layers-table">
                <thead>
                <tr>
                    <th>Edit Layer</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Group</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr>
                    <!-- Edit Layer -->
                    <td>
                        <a href="/update_layer/{{ row[0] }}"><i class="fa-regular fa-pen-to-square"></i></a>
                    </td>
                    <!-- Name -->
                    <td>{{ row[1] }}</td>
                    <!-- Department -->
                    <td>
                        {% for dept in row[2].split(', ') %}
                        {{ dept }} <br>
                        {% endfor %}
                    </td>
                    <!-- Group -->
                    <td>
                        {% for grp in row[3].split(', ') %}
                        &bull; {{ grp }} <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}