{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 300px;">
        <h3 class="text-center mb-4">Enter Password</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" enctype="multipart/form-data" action="/login">
            {{ login_form.csrf_token() }}
            {{ login_form.hidden_tag() }}

            <div class="mb-3">
                {{ login_form.password(class="form-control form-control-lg", id="password") }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>

{% endblock %}