{% extends 'base.html' %}

{% block title %} Update User {% endblock %}

{% block content %}

<br><br><br>
<!-- Heading -->
<div class="container text-left">
    <div class="row">
        <div class="col-6"><h2>Edit user's access</h2></div>
    </div>
</div>
<br><br>

<!--Add User Form -->
<div class="container">
    <form method="POST" enctype="multipart/form-data" action="">
        {{ form.csrf_token() }}
        {{ form.hidden_tag() }}

        <!-- Name Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.name.label }} {{ form.name(class="form-control form-control-md", autocomplete="off") }}
            </div>
        </div>
        <br>

        <!-- Department Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.department.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                        class="btn btn-secondary dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                        type="button"
                        id="button10"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user_data[2] | default('Edit department to add user to') }}
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100" id="department-dropdown-menu">
                        {% for subfield in form.department %}
                        <div class="form-check">
                            <!-- Render Checkbox -->
                            {{ subfield(**{'class': 'form-check-input'}) }}

                            <!-- Checkbox Label -->
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
         </div>
        <br>

        <!-- Group Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.groups.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                        class="btn dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                        type="button"
                        id="button11"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user_data[3] | default('Edit group to add user to') }}
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100" id="group-dropdown-menu">
                        {% for subfield in form.groups %}
                            <div class="form-check">
                                <!-- Render Checkbox -->
                                {{ subfield(**{'class': 'form-check-input'}) }}
                                <!-- Checkbox Label -->
                                <label class="form-check-label" for="{{ subfield.id }}">
                                    {{ subfield.label.text }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Dashboards Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.dashboards.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                            class="btn dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                            type="button"
                            id="button12"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ user_data[6] | default('Edit dashboards the user will own') }}
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100" id="dashboard-dropdown-menu">
                        {% for subfield in form.dashboards %}
                        <div class="form-check">
                            <!-- Render Checkbox -->
                            {{ subfield(**{'class': 'form-check-input'}) }}

                            <!-- Checkbox Label -->
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>


        <!-- Submit Button -->
        <div class="row mb-3">
            <div class="col-6">
                <form method="POST" action="{{ url_for('update_user', user_id=user_data[0]) }}">
                    <button type="submit" class="btn btn-primary submit-btn" style="float: right;">
                        <i class="fa-regular fa-floppy-disk" style="padding-right: 10px;"></i> Save changes
                    </button>
                </form>
            </div>
        </div>

    </form>

    <!-- Delete User Button -->
        <div class="row mb-3">
            <div class="col-6">
                <form action="/delete_user/{{user_data[0]}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
                    <button class="btn btn-danger" style="float: right;"><i class="fa-solid fa-trash" style="padding-right: 10px;"></i>Delete user</button>
                </form>
            </div>
        </div>
</div>

<!-- Update UI after selection -->
<script>
    // set initial selected items for departments, groups & dashboards
    const initialDepartments = "{{ user_data[2] }}".split(', ').filter(item => item.trim() !== '');
    const initialGroups = "{{ user_data[3] }}".split(', ').filter(item => item.trim() !== '');
    const initialDashboards = "{{ user_data[6] | default('') }}".split(', ').filter(item => item.trim() !== '');


    // live update selection for user's departments
    const department_dropdownButton = document.getElementById('button10');
    department_dropdownButton.innerHTML = initialDepartments.length > 0
        ? initialDepartments.join('<br>') : 'Edit department to add layer to';

    const department_dropdownMenu = document.getElementById('department-dropdown-menu');
    let department_mySelectedItems = [...initialDepartments];

    function handleCB1(event) {
        const department_checkbox = event.target;
        if (department_checkbox.checked) {
            department_mySelectedItems.push(department_checkbox.value);
        } else {
            department_mySelectedItems =
              department_mySelectedItems.filter((item) => item !== department_checkbox.value);
        }

        department_dropdownButton.innerHTML = department_mySelectedItems.length > 0
            ? department_mySelectedItems.join('<br>') : 'Select department to add user to';
    }

    department_dropdownMenu.addEventListener('change', handleCB1);

    // live update selection for user's groups
    const group_dropdownButton = document.getElementById('button11');
    group_dropdownButton.innerHTML = initialGroups.length > 0
        ? initialGroups.join('<br>') : 'Edit group to add user to';

    const group_dropdownMenu = document.getElementById('group-dropdown-menu');
    let group_mySelectedItems = [...initialGroups];

    function handleCB2(event) {
        const group_checkbox = event.target;
        if (group_checkbox.checked) {
            group_mySelectedItems.push(group_checkbox.value);
        } else {
            group_mySelectedItems =
              group_mySelectedItems.filter((item) => item !== group_checkbox.value);
        }

        group_dropdownButton.innerHTML = group_mySelectedItems.length > 0
            ? group_mySelectedItems.join('<br>') : 'Select group to add user to';
    }

    group_dropdownMenu.addEventListener('change', handleCB2);

    // live update selection for dashboards that user owns
    const dashboard_dropdownButton = document.getElementById('button12');
    dashboard_dropdownButton.innerHTML = initialDashboards.length > 0
        ? initialDashboards.join('<br>') : 'Edit dashboards the user will own';

    const dashboard_dropdownMenu = document.getElementById('dashboard-dropdown-menu');
    let dashboard_mySelectedItems = [...initialDashboards];

    function handleCB3(event) {
        const dashboard_checkbox = event.target;
        if (dashboard_checkbox.checked) {
            dashboard_mySelectedItems.push(dashboard_checkbox.value);
        } else {
            dashboard_mySelectedItems =
              dashboard_mySelectedItems.filter((item) => item !== dashboard_checkbox.value);
        }

        dashboard_dropdownButton.innerHTML = dashboard_mySelectedItems.length > 0
            ? dashboard_mySelectedItems.join('<br>') : 'Edit dashboards the user will own';
    }

    dashboard_dropdownMenu.addEventListener('change', handleCB3);
</script>

<br>
{% endblock %}