{% extends 'base.html' %}

{% block title %} Update User {% endblock %}

{% block content %}

<br><br><br>
<!-- Heading -->
<div class="container text-left">
    <div class="row">
        <div class="col-6"><h2>Edit user's access</h2></div>
    </div>
</div>
<br><br>

<!--Add User Form -->
<div class="container">
    <form method="POST" enctype="multipart/form-data" action="">
        {{ form.csrf_token() }}
        {{ form.hidden_tag() }}

        <!-- Name Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.name.label }} {{ form.name(class="form-control form-control-md", autocomplete="off") }}
            </div>
        </div>
        <br>

        <!-- Department Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.department.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                        class="btn btn-secondary dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                        type="button"
                        id="button1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Edit Department
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100">
                        {% for subfield in form.department %}
                        <div class="form-check">
                            <!-- Render Checkbox -->
                            {{ subfield(**{'class': 'form-check-input'}) }}

                            <!-- Checkbox Label -->
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
         </div>
        <br>

        <!-- Group Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.groups.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                        class="btn dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                        type="button"
                        id="button2"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Edit Group
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100">
                        {% for subfield in form.groups %}
                            <div class="form-check">
                                <!-- Render Checkbox -->
                                {{ subfield(**{'class': 'form-check-input'}) }}
                                <!-- Checkbox Label -->
                                <label class="form-check-label" for="{{ subfield.id }}">
                                    {{ subfield.label.text }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Editor Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.editor.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                            class="btn btn-secondary dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                            type="button"
                            id="button3"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Edit 'Editor' layers
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100">
                        {% for subfield in form.editor %}
                        <div class="form-check">
                            <!-- Render Checkbox -->
                            {{ subfield(**{'class': 'form-check-input'}) }}

                            <!-- Checkbox Label -->
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Viewer Input -->
        <div class="row mb-3">
            <div class="col-6">
                {{ form.viewer.label }}

                <!-- Custom Dropdown Select -->
                <div class="dropdown">
                    <!-- Dropdown Toggle Button -->
                    <button
                            class="btn btn-secondary dropdown-toggle w-100 text-start d-flex justify-content-between align-items-center"
                            type="button"
                            id="button4"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Edit 'Viewer' layers
                        <span class="dropdown-icon"></span>
                    </button>

                    <!-- Dropdown Menu with Checkboxes -->
                    <div class="dropdown-menu p-3 w-100">
                        {% for subfield in form.viewer %}
                        <div class="form-check">
                            <!-- Render Checkbox -->
                            {{ subfield(**{'class': 'form-check-input'}) }}

                            <!-- Checkbox Label -->
                            <label class="form-check-label" for="{{ subfield.id }}">
                                {{ subfield.label.text }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Submit Button -->
        <div class="row mb-3">
            <div class="col-6">
                <form method="POST" action="{{ url_for('update_user', user_id=user_data[0]) }}">
                    <button type="submit" class="btn btn-primary submit-btn" style="float: right;">
                        <i class="fa-regular fa-floppy-disk" style="padding-right: 10px;"></i> Save changes
                    </button>
                </form>
            </div>
        </div>

    </form>

    <!-- Delete User Button -->
        <div class="row mb-3">
            <div class="col-6">
                <form action="/delete_user/{{user_data[0]}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
                    <button class="btn btn-danger" style="float: right;"><i class="fa-solid fa-trash" style="padding-right: 10px;"></i>Delete user</button>
                </form>
            </div>
        </div>
</div>

<br>
{% endblock %}