{% extends 'base.html' %}

{% block title %} All Users {% endblock %}

{% block content %}

<br><br><br>

<!-- User Table -->
<div class="container-fluid px-4">
    <div class="row me-auto mb-2 mb-lg-0">
        <h1>All Users</h1>
    </div>
    <div class="row mt-4>">
        <div class="col">
            <table class="table table-bordered" id="users-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Group</th>
                    {% for layer in layers %}
                    <th> {{ layer }} </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr class="empty-row">
                    <td colspan="{{ layers | length + 3 }}"></td>
                </tr>
                {% for user in users %}
                <tr>
                    <!-- Name -->
                    <td> {{ user.name }}</td>
                    <!-- Department -->
                    <td>
                        {% for dept in user.department %}
                        {{ dept }} <br>
                            {% endfor %}
                        </td>
                        <!-- Group -->
                        <td>
                            {% for grp in user.groups %}
                            {{ grp }} <br>
                            {% endfor %}
                        </td>

                        <!--Permissions for each Layer -->
                        {% for layer in layers %}
                        <td>
                            {% set permissions= [] %}

                            {% if layer in user.editor %}
                            {% set permissions = permissions + ['E'] %}
                            {% endif %}
                            {% if layer in user.viewer %}
                            {% set permissions = permissions + ['V'] %}
                            {% endif %}
                            {% if layer in user.download_attachments %}
                            {% set permissions = permissions + ['D'] %}
                            {% endif %}

                            {% if permissions %}
                            {{ permissions | join(' + ') }}
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}