{% extends 'base.html' %}

{% block title %} All Users {% endblock %}

{% block content %}

<br><br><br>

<!-- User Table -->
<div class="container-fluid px-4">
    <div class="row me-auto mb-2 mb-lg-0">
        <h1>All Users</h1>
    </div>
    <div class="row mt-4>">
        <div class="col">
            <div class="table-responsive" style="overflow-x: auto;">
                <table class="table table-bordered table-header-rotated" id="users-table">
                    <thead>
                    <tr id="row_2">
                        <th style="width: 150px;">Update User</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Group</th>
                        <th>Delete User</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            <a href="/update_user/{{ user.id }}"><i class="fa-regular fa-pen-to-square"></i></a>
                        </td>
                        <!-- Name -->
                        <td>{{ user.name }}</td>
                        <!-- Department -->
                        <td>
                            {% for dept in user.department %}
                            {{ dept }} <br>
                            {% endfor %}
                        </td>
                        <!-- Group -->
                        <td>
                            {% for grp in user.groups %}
                            &bull; {{ grp }} <br>
                            {% endfor %}
                        </td>
                        <!-- Delete User -->
                        <td style="width: 100px">
                            <form action="/delete_user/{{ user.id }}" method="POST">
                                <button type="submit" class="btn btn-danger">X</button>
                            </form>
                        </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}